# Your environments and secrets
.venv/      
venv/      
.env      
pyvenv.cfg 

# Python & OS junk
__pycache__/
*.pyc
*.pyo       
*.pyd       
.DS_Store

# specific files (Generated output)
fire.gif
report.log
fire_Optimizer.py
fire_simulation.gif